<div class="container">
    <h1 class="text-center">Cadastrar paciente</h1>
    
    <p *ngIf="mensagemAviso.length" class="alert alert-info">{{ mensagemAviso }}</p>
    
    <form [formGroup]="meuForm" class="row" (submit)="cadastrar($event)" >
        <div class="col-md-12">
            <div class="form-group">
                <label>Nome completo</label>
                <input 
                    formControlName="nomeCompleto" 
                    name="nomeCompleto" 
                    [(ngModel)]="ficha.nomeCompleto" 
                    class="form-control"  
                    autocomplete="off">
                <div *ngIf="meuForm.controls.nomeCompleto.invalid">
                    <span 
                      *ngIf="meuForm.controls.nomeCompleto.errors.required && meuForm.controls.nomeCompleto.dirty" 
                      class="form-control alert-danger">
                        Nome completo obrigatório
                    </span>
                    <span 
                      *ngIf="meuForm.controls.nomeCompleto.errors.minlength && meuForm.controls.nomeCompleto.dirty" 
                      class="form-control alert-danger">
                        Nome completo deve ter no mínimo 4 caracteres
                    </span>                    
                </div>                        
            </div>
            <div class="form-group">
                <label>Idade</label>
                <input
                    formControlName="idade"  
                    name="idade" 
                    [(ngModel)]="ficha.idade" 
                    class="form-control"  
                    autocomplete="off">
                <span 
                  *ngIf="meuForm.controls.idade.invalid && meuForm.controls.idade.dirty" 
                  class="form-control alert-danger">
                    Idade obrigatória
                </span>                       
            </div>
            <div class="form-group">
                <label>Sexo</label>
                <select 
                  formControlName="sexo" 
                  name="sexo" 
                  [(ngModel)]="ficha.sexo"  
                  class="form-control" >
                    <option value="0">Selecione</option>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                  </select>
            </div>
            <a [routerLink]="['']" class="btn btn-warning">Zerar e voltar</a>
            <botao-padrao nome="Salvar" estilo="btn-primary" tipo="submit" [desabilitado]="meuForm.invalid">
            </botao-padrao>
            <hr>
        </div>
        <div class="col-md-12" *ngIf="fichasCadastradas.length">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome completo</th>
                        <th>Idade</th>
                        <th>Sexo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of fichasCadastradas">
                      <td>{{ item.nomeCompleto }}</td>
                      <td>{{ item.idade }}</td>
                      <td >
                        <span *ngIf="item.sexo.length">
                          {{ (item.sexo == 1) ? "Masculino" : "Feminino" }}
                      </span>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>